.wrapper {
  position: fixed;
  top: calc(100vh - 120px);
  width: 200px;
  right: 20px;
  border-radius: 10px;
  height: 100px;
  z-index: 1000;
  background: url("https://i.pinimg.com/564x/a5/04/10/a504103423fa4f9451be012991677690.jpg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 4px;
  &:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
}

.icon {
  font-size: 30px;
  color: purple;
}
